body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #4d515d;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.card{
    width: 50vw;
    height: 67vh;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    width: 35vw;
    height: 80vh;
 
    
}

.image{
    width: 30vw;
    height: 67vh;
    background: url(img/side.jpg);
    background-size: cover;
    border-radius: 0px 5px 5px 0px;
}

.Main-title{
    font-size: 2vw;
    font-weight: 300;
    margin-top: 10vh;
    margin-bottom: 0;
    color: #000000;
}

.title{
    font-size: 0.7vw;
    font-weight: 500;
    color: #aaaaaa;
    margin-left: 4vw;
    margin-bottom: 7vh;
}

.post-title {
    white-space: pre-line;
    margin: 0;
}

.social-networks{
    border: 0.1px solid #e0e0e0;
    border-radius: 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 6vh;
    margin-left: 4vw;
    margin-bottom: 2vh;
    color: grey;
    font-weight: bold;
    font-size: 0.7vw;
    outline: none;
}

.social-networks:hover{
    cursor: pointer;
    box-shadow: 5px 10px 10px #ecebeb;
    border: none;
}

.google-plus{
    background: url("img/googleplus.svg") no-repeat 5% 50%;
    background-size: 1vw;
}

.facebook{
    background: url("img/facebook.svg") no-repeat 5% 50%;
    background-size: 1vw;
}

.twitter{
    background: url("img/twitter.svg") no-repeat 5% 50%;
    background-size: 1vw;
}

.sign-up{
    margin-bottom: 8vh;
}

.email-sign-up{
    border-top: 0.1px solid #e0e0e0;
    width: 34vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.description{
    font-size: 0.7vw;
    margin-right: 6vw;
    font-weight: 500;
}

.email{
    color: #808080;
    font-weight: bold;
    font-size: 0.6vw;
    text-transform: uppercase;
    text-decoration: none;
   
}

.email:hover{
    color: #000000;
}